.nutritionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 39px;
  grid-area: stats;

  @include breakpoint('xlarge') {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
