.sideMenu {
  background-color: $black;
  width: 117px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    height: 100%;
    margin-top: 100px;

    .wrapperLogos {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }

    .wrapperText {
      color: $white;
      font-size: 12px;
      font-weight: 500;
      transform: rotate(-90deg);
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        white-space: nowrap;
      }
    }
  }
}
