.chart {
  max-width: 258px;
  background-color: #ff0000;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.tooltip {
  background-color: white;
  padding: 10px 7px;
}

.legend {
  color: #ffffff;
  opacity: 0.5;
  font-size: 15px;
}
