.homePage {
  display: grid;
  gap: 31px;

  grid-template-areas:
    'activity'
    'stats'
    'charts';
  grid-template-columns: 1fr;
  @include breakpoint('xlarge') {
    grid-template-areas:
      'activity activity activity stats'
      'activity activity activity stats'
      'charts charts charts stats';
    grid-template-columns: repeat(3, 1fr) auto;
    grid-template-rows: auto auto auto;
  }
}

.charts {
  grid-area: charts;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;

  @include breakpoint('xlarge') {
    justify-content: center;
  }

  @include breakpoint('wide') {
    justify-content: space-evenly;
  }
}
