.navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.link {
  color: $white;
  text-transform: capitalize;
  text-wrap: nowrap;
  font-size: 24px;
  font-weight: 500;
}
