.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  @include breakpoint('medium') {
    gap: 57px;
  }
}

.link {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-wrap: nowrap;

  @include breakpoint('medium') {
    font-size: 24px;
    text-transform: capitalize;
  }
  &.active {
    text-decoration: underline;
  }
}
